<% provide(:title, "ログイン") %>


  <div class="row pt-3">
    <div class="col-md-8 mx-auto">
      <h3>ログイン</h3>
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(パスワードを忘れた場合)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
        <span>次回からログイン状態にする</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>新規作成はこちら！ <%= link_to "新規作成", new_user_path %></p>
  </div>
</div>
