<div class="row">
  <aside class="col-md-4 card pt-3" style="min-height: 85vh;">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <section class="stats">
        <%= render 'follow_stats' %>
      </section>
      <section>
         <%= render 'follow_form' if logged_in? %>
      </section>
    </section>
      <% if logged_in? && current_user?(@user) %>
        <%= link_to "DM一覧", room_user_path(@user), class: "btn btn-success text-white btn-block" %>
      <% end %>
      <%= render "messagebox" %>
  </aside>

  <%= render "tab" %>

</div>
