<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <section class="stats">
        <%= render 'follow_stats' %>
      </section>
      <section>
         <%= render 'follow_form' if logged_in? %>
      </section>
    </section>
  </aside>
  <!-- mt-3つけるとタブの線が短くなる -->
  <div class="col-md-8 mt-4">
    <!-- タブ本体 -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#novel" class="nav-link active" data-toggle="tab">小説</a>
      </li>
      <li class="nav-item">
        <a href="#picture" class="nav-link" data-toggle="tab">イラスト</a>
      </li>
    </ul>
    <!-- タブの中 -->
    <div class="tab-content">
      <div id="novel" class="tab-pane active">
        <% if @user.novels.any? %>
          <h3 class="mt-3">小説一覧</h3>

            <table class="novels table ">
              <!-- <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead> -->
              <tbody>
                <%= render @novels %>

              </tbody>
            </table>

            <%= paginate @novels %>
        <% else %>
          <h5 class="mt-3">まだ小説が投稿されていません。上の投稿から投稿してみよう</h5>
        <% end %>
      </div>
      <div id="picture" class="tab-pane">
        <% if @user.pictures.any? %>
          <h3 class="mt-3">イラスト一覧</h3>
          <ol class="pictures">
            <div class="row">
            <%= render @pictures %>
            </div>
          </ol>
            <%= paginate @pictures %>
        <% else %>
          <h5 class="mt-3">まだイラストが投稿されていません。上の投稿から投稿してみよう</h5>

        <% end %>
      </div>
    </div>
  </div>
</div>
