
  <h3 class="text-center mb-3">ブックマークランキング</h3>
  <div class="row border">
    <div class="col-md-6 col-10 mx-auto border-right">
      <% i = 0 %>
      <% if ranks.any?  %>
      <% ranks[0,5].each do |rank|  %>
        <div class="row">
          <div class="col-md-2 col-3 mx-auto text-center">
            <span><%= i+1 %></span>
          </div>
          <div class="col-md-10 col-9 mx-auto ">
            <%= link_to rank.title,rank,class: "" %>
            <br>
            <small><%= rank.user.name %></small>
          </div>
        </div>
        <hr>
        <% i += 1 %>
      <% end  %>
      <% end %>
    </div>
    <div class="col-md-6 col-10 mx-auto">
      <% if ranks.count > 5  %>
        <% ranks[5,5].each do |rank|  %>
          <div class="row">
            <div class="col-md-2 col-3 mx-auto text-center">
              <span class="bg-<%= i == 0 ? 'warning' : '' %> p-3 m-0"><%= i+1 %></span>
            </div>
            <div class="col-md-10 col-9 mx-auto ">
              <%= link_to rank.title,rank,class: "" %>
              <br>
              <small><%= rank.user.name %></small>
            </div>
          </div>
          <hr>
          <% i += 1 %>
        <% end  %>
      <% end  %>
    </div>
  </div>
