<div class="row">
  <div class="mx-auto">
    <h3 class="mt-3">
      <%= @story.title %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="mx-auto card p-3 border-0 w-75">
    <div class="">
      <%if logged_in?  %>
          <%= @story.content %>
        <% else %>
          <%= truncate(strip_tags(@story.rich_text_content.to_s), length: 180) %>
          <br>
          <br>
          <div class="">
            続きを見る場合はログインしてください： <%= link_to "ログイン",login_path,class:"btn btn-primary" %>
          </div>
        <% end  %>
    </div>
  </div>
</div>






<%  if logged_in? && current_user.story?(@novel) %>
  |<%= link_to '編集', edit_story_path(@story) %> |
  <%= link_to "削除", story_path(@story),method: :delete,
                                            data: {confirm: "本当によろしいですか？"}%>|
<% end  %>
<% if logged_in?  %>
  <%= link_to "感想", impression_story_path  %>|
<% end  %>
<%= link_to "一覧", @novel %>
