<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/default" %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type} position-absolute text-center w-100",style: "height:56px;z-index:9999;") %>
    <% end %>
    <%= render "layouts/header" %>
    <% if @home  %>
    <div class="container" style="min-height: 80vh;">
    <% else %>
    <div class="top-container" style="min-height: 80vh;">
    <% end %>

    <%= yield %>
  </div>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
    <% if @home  %>
      <%= render "layouts/footer" %>
    <% end  %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
